* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  --orange: #FF8811;
  --white: #FFFFFF;
  --black: #000000;
  --grey-light: #DDD;
  --grey-dark: #323232;
  --black-film: rgba(0, 0, 0, 0.7); 
  --primary: #00072D;
  --linear: linear-gradient(to bottom left, #43C6AC, #00072D);
}

body {
  box-sizing: border-box;
}

@font-face {
  font-family: poppins-regular;
  src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins-bold;
  src: url(./fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: poppins-light;
  src: url(./fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: poppins-extra-bold;
  src: url(./fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: poppins-medium;
  src: url(./fonts/Poppins-Medium.ttf);
}