* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

@font-face {
  font-family: poppins-regular;
  src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins-bold;
  src: url(./fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: poppins-light;
  src: url(./fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: poppins-extra-bold;
  src: url(./fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: poppins-medium;
  src: url(./fonts/Poppins-Medium.ttf);
}

